<div class="appHeader">
  <div class="appHeading">
    <h2 class="appHead"> Algo Trading </h2>
    <div class="dareToDream"> Dare to dream..! </div>
  </div>
  <div class="loginSection">
    <% if user_logged_in? %>
      <span class="dashboardLink"> <%= link_to "Dashboard", '/dashboard', method: :get%> </span>
      <span class="dashboardLink"> <%= link_to "Log out", '/logout', method: :get%> </span>
    <%else%>
      <%= link_to "Login", 'login', method: :get%> |
      <%= link_to "Sign Up", '/users/new', method: :get%>
    <%end%>
  </div>
</div>

<div>
  <%= image_tag(root_url[/[^\?]+/] + asset_path("algo_trading.jpeg"), :class => "algo_trading_img")%>
</div>

