<%= form_tag(update_chart_data_path, method: :get, id: "updateChartForm", remote: :true) do |f| %>
  <div class="chartFilterSection">
    <div class="tickerSelectBox">
      Ticker:
      <%= select_tag("ticker", options_for_select(@tickers.map{ |ticker| ["#{ticker.symbol} | #{ticker.name}", ticker.symbol]}, @ticker), class: "tickerSearch tickerSelect")%>
    </div>
    <div class="rangeSelectBox">
      Range:
      <%= select_tag "range", options_for_select(VALID_RANGES, @range), class: "rangeSelect"%>
    </div>
    <div class="intervalSelectBox">
      Interval:
      <%= select_tag "interval", options_for_select(VALID_GRANULARITIES, @interval), class: "intervalSelect"%>
    </div>
  </div>
<%end%>

<br><br>

<div class="ChartSectionOuter">
  <%= render "charts/multi_charts" %>
</div>

